<html lang="fr">
	<head>
		<%- include('../included/common.ejs') %>
		<title>Fiche de l'employé <%= employee.getName() %><%= employee.getSurname() %></title>
	</head>

	<body>
		<%- include('../included/menu.ejs') %>

        <main>
		    <h1>Fiche de l'employé <%= employee.getName() %><%= employee.getSurname() %></h1>

			<section>
				<%= employee %>
			</section>
        </main>
	</body>
</html>