<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Accueil</title>
		<link rel="stylesheet" href="/styles/newUser.css"/>
        <%- include('common.ejs') %>
	</head>
    <%- include('menu.ejs')%>
	<body>
		<div class="page">
			<div class="global">
				<h2>Modifiez l'utilisateur <%= name %> <%= surname %></h2>
				<div class="form">
					<form action="" method="post" class="">
						<div class="form-content">
							<label for="name">Modifiez prénom</label>
							<input type="text" name="name" id="name" value="<%= name %>" required>
						</div>
						<div class="form-content">
							<label for="surname">Modifiez nom</label>
							<input type="text" name="surname" id="surname" value="<%= surname %>" required>
						</div>
						<div class="form-content">
							<label for="email">Modifiez email</label>
							<input type="email" name="email" id="email" value="<%= email %>" required>
						</div>
						<div class="form-content">
							<label for="mat">Modifiez matricule</label>
							<input type="text" name="mat" id="mat" value="<%= mat %>" required>
						</div>
						<div class="form-content">
                            <label for="rights">Modifiez droits</label>
                            <div class="rights">
                                <p>Utilisateur</p>
                                <input type="radio" name="rights" id="rights" required checked="checked">
                                <p>Administrateur</p>
                                <input type="radio" name="rights" id="rights" required>
                            </div>
                        </div>
						<div class="submit">
							<input type="submit" value="Modifier">
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>