<html lang="fr">
    <head>
        <%- include('../included/common.ejs') %>
        <title>Fiche du matériel <%= material.getTitle() %></title>
        <link rel="stylesheet" href="/public/styles/material/viewMaterial.css"/>
    </head>

    <body>
        <%- include('../included/menu.ejs') %>

        <main>
            <h1>Fiche du matériel <%= material.getTitle() %></h1>

            <section>
                <section>
                    <img src="<%= material.getPicture() ?? "/public/icons/no_image.png"; %>" alt="Image du matériel">

                    <div>
                        <section>
                            <h3><%= material.getTitle(); %></h3>
                            <p>#<%= material.getId(); %></p>
                            <ul>
                                <li>
                                    <% if (current_employee.getIsAdmin()) { %>
                                        <button onclick="window.location.href='/material/<%= material.getId(); %>/edit'" title="Modifier le matériel">Modifier</button>
                                    <% } %>
                                </li>
                                <li>
                                    <% if (current_employee.getIsAdmin()) { %>
                                        <button onclick="removeMaterial('<%= material.getId(); %>')" title="Supprimer le matériel">Supprimer</button>
                                    <% } %>
                                </li>
                            </ul>
                        </section>
                        <ul>
                            <li>
                                <h5>Version</h5>
                                <p><%= material.getVersion(); %></p>
                            </li>
                            <li>
                                <h5>Référence</h5>
                                <p><%= material.getReference(); %></p>
                            </li>
                            <li>
                                <h5>Numéro de téléphone</h5>
                                <p><%= material.getPhoneNumber() ?? "Non renseigné"; %></p>
                            </li>
                        </ul>
                    </div>
                </section>

                <section>
                    <h2>Gestion des réservations</h2>

                    <menu>
                        <li>
                            <label>
                                <p>Emprunteur</p>
                                <select id="employeeId">
                                    <% if (current_employee.getIsAdmin()) { %>
                                        <option value="" selected>Sélectionner un utilisateur</option>
                                        <% for (const employee of employees) { %>
                                            <option value="<%= employee.getId() %>"><%= employee.getName() %></option>
                                        <% } %>
                                    <% } else { %>
                                        <option value="<%= current_employee.getId() %>" selected><%= current_employee.getName() %></option>
                                    <% } %>
                                </select>
                            </label>
                        </li>
                        <li>
                            <label>
                                <p>Date de début d'emprunt</p>
                                <input id="startingDate" type="date">
                            </label>
                        </li>
                        <li>
                            <label>
                                <p>Date de fin d'emprunt</p>
                                <input id="endingDate" type="date">
                            </label>
                        </li>
                        <li>
                            <button id="add_rental" title="Ajouter une réservation">Ajouter</button>
                        </li>
                    </menu>

                    <table>
                        <tbody id="rentals">
                        <tr>
                            <th>Emprunteur</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td colspan="4">Aucune réservation n'a encore été effectuée</td>
                        </tr>

                        <% for (const rental of rentals) { %>
                            <tr>
                                <td onclick="document.location.href='/employee/<%= rental.getEmployee().getId() %>'"><%= rental.getEmployee().getName(); %></td>
                                <td><%= rental.getStartingDate(); %></td>
                                <td><%= rental.getEndingDate(); %></td>
                                <td>
                                    <button title="Supprimer de l'historique" onclick="removeRental(this, '<%= rental.getId() %>');">
                                        <img src="/public/icons/trash.png" alt="Icone de poubelle pour supprimer une réservation de l'historique"/>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </section>
            </section>
        </main>
    </body>

    <%- include('../included/popup.ejs'); %>
    <script type="text/javascript">
		// Set the structure of a toast
		const toast_structure = `<%- include('../included/toast.ejs'); %>`;
    </script>
    <script type="text/javascript" src="/public/scripts/Toast.js"></script>
    <script type="text/javascript" src="/public/scripts/Popup.js"></script>
    <script type="text/javascript" src="/public/scripts/material/viewMaterial.js"></script>
</html>